<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.5.0" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net472" />
  <package id="log4net" version="2.0.15" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.6.36389" targetFramework="net472" />
  <package id="NetOfficeFw.Core" version="1.9.3" targetFramework="net472" />
  <package id="NetOfficeFw.Office" version="1.9.3" targetFramework="net472" />
  <package id="NetOfficeFw.Outlook" version="1.9.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="stdole" version="17.6.36389" targetFramework="net472" />
</packages>